.headeractive{
  height: 90vh;
  overflow: scroll!important;
}
.logoactive{
  background: #fff;
  border-radius: 20px;
  position: sticky;
  top: 0;
}
.navmenuactive{
  transform: translateX(0);
  opacity: 1!important;
}
.footeractive{
  height: 8vh;
}