.headeractive{
  height: 90vh;
  overflow: scroll!important;
}
.logoactive{
  background: #fff;
  border-radius: 20px;
  position: sticky;
  top: 0;
  translateX: 0;
  opacity: 1;
}
.footeractive{
  height: 8vh;
}