.ukr-d-hp{
  width: min(99.6vw, 458px);
}
.bg-glass{
  background: #ffffff25!important;
  backdrop-filter: blur(5px);
}
.bg-gradient-pink{
  background: linear-gradient(to right, #FFF1F5, #FFD6E5, #FFB7CF);
  background-size: 300% 300%;
  animation: fall 5s ease infinite;
}
#header{
  transition: height .4 ease;
}
@keyframes fall{
   0%   { background-position: 0% 50%; }
  50%  { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}